@font-face {
  font-family: 'Montserrat Italic';
  src: url("/fonts/Montserrat-Italic.otf") format("opentype"); }
@font-face {
  font-family: 'Montserrat LightItalic';
  src: url("/fonts/Montserrat-LightItalic.otf") format("opentype"); }
@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Montserrat Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #948030;
  background: #fff; }

.heading {
  margin-bottom: 5em; }
  .heading.heading-sm {
    margin-bottom: 2em; }
  .heading h2 {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: #948030;
    font-family: "Montserrat Italic"; }
    @media screen and (max-width: 768px) {
      .heading h2 {
        font-size: 35px; } }
  .heading h3 {
    color: #948030;
    font-family: "Montserrat Regular"; }
  .heading p {
    font-size: 18px;
    line-height: 1.5;
    color: #948030; }
  .heading span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4); }

#page {
  background-image: url("../images/LiisaNick.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }

#page {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .offcanvas #page {
    overflow: hidden;
    position: absolute; }
    .offcanvas #page:after {
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      -webkit-transition: all 2s ease;
      -ms-transition: all 2s ease;
      transition: all 2s ease;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0, 0, 0, 0.7);
      content: ""; }

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  width: 60%;
  margin-top: 0.5em;
  align-self: center; }
  @media screen and (max-width: 992px) {
    #header {
      height: 700px; } }
  @media screen and (max-width: 768px) {
    #header {
      height: 200px; } }
  #header img {
    width: 60%; }

#couple-about-each-other {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: auto;
  box-shadow: 3px 3px lightgray;
  padding: 2em; }
  #couple-about-each-other .simply-countdown {
    display: block; }

#descriptions {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#couple-about-each-other .description {
  width: 100%; }
#couple-about-each-other .picture {
  width: 100%; }
#couple-about-each-other .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat Regular';
  text-transform: uppercase;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
  height: 152px;
  font-size: 1em; }
  @media screen and (max-width: 768px) {
    #couple-about-each-other .text {
      font-size: 0.5em; } }
#couple-about-each-other .read-more {
  width: 30%;
  text-align: center; }

#couple-about-each-other #aboutBride {
  width: 40%; }

#couple-about-each-other #aboutGroom {
  width: 40%; }

#couple-about-each-other .monogram {
  width: 20%;
  align-self: baseline;
  margin-top: 3em; }

#timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 2em;
  margin-bottom: 2em; }
  #timeline .title {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 50px; }
  #timeline .title > .line {
    border-top: 3px solid #948030;
    align-self: center;
    flex-grow: 2; }

#timeline .items {
  background-image: url("../images/background - pastel.png");
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  #timeline .items h2 {
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    white-space: nowrap; }

#timeline .item {
  background-color: white;
  padding: 2em 20px;
  margin: 2em 10px;
  flex-basis: 40%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 768px) {
    #timeline .item {
      flex-basis: 100%; } }
  #timeline .item .row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1em; }
  #timeline .item .header {
    text-transform: uppercase;
    font-size: 1em;
    margin: 0.25em;
    flex-basis: 40%; }
  #timeline .item .time {
    flex-grow: 2;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center; }
  #timeline .item .clock {
    width: 25%;
    margin-right: 1em; }
    @media screen and (max-width: 768px) {
      #timeline .item .clock {
        display: none; } }
  #timeline .item .description {
    font-size: 1em; }
    @media screen and (max-width: 768px) {
      #timeline .item .description {
        font-size: 0.5em; } }
  #timeline .item .item-img {
    width: 40px;
    height: 35px;
    justify-self: flex-end; }

#getting-there {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }
  #getting-there h2 {
    padding-bottom: 50px; }

#getting-there .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px; }

#getting-there #accommodation {
  flex-basis: 40%; }
#getting-there #directions {
  flex-basis: 40%; }
#getting-there #kids {
  flex-basis: 80%; }
#getting-there .button {
  width: 50%; }
#getting-there .map {
  width: 100%; }

#what-to-bring {
  background-image: url("../images/background - pastel photo of Nick and Liisa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

#flowers {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #flowers img {
    width: 40%;
    display: block; }

.poem {
  font-family: 'Montserrat LightItalic';
  line-height: 1; }
  .poem p {
    margin: 0px; }

#preparation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center; }
  #preparation img {
    width: 100%; }
  #preparation #attire {
    margin: 0px 0px 30px 0px; }
  #preparation .gender-attire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px 0px 0px; }
    #preparation .gender-attire .icon {
      width: 15px;
      height: 37.5px;
      margin: 0px 10px 0px 10px; }

.reference {
  font-family: "Montserrat Italic"; }

a {
  color: #C5AE87;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover, a:active, a:focus {
    color: #C5AE87;
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  color: #948030;
  font-family: "Montserrat Italic";
  font-weight: 400;
  margin: 0 0 20px 0; }

::-webkit-selection {
  color: #fff;
  background: #C5AE87; }

::-moz-selection {
  color: #fff;
  background: #C5AE87; }

::selection {
  color: #fff;
  background: #C5AE87; }

#accomodation {
  margin-top: 2em;
  width: 60%;
  align-self: center; }
  #accomodation h2 {
    text-align: center;
    margin-bottom: 1em; }

#getting-there .prices {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; }

#flowers {
  margin-top: 2em;
  width: 60%;
  align-self: center; }
  #flowers h2 {
    text-align: center;
    margin-bottom: 1em; }

#gifts {
  margin-top: 2em;
  width: 60%;
  align-self: center; }
  #gifts h2 {
    text-align: center;
    margin-bottom: 1em; }
  #gifts .poem {
    text-align: center; }

#questions {
  background-image: url("../images/background - pastel.png");
  text-align: center;
  width: 100%; }

#registration {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #registration h2 {
    text-align: center;
    margin-bottom: 1em; }
  #registration #rsvp-form {
    width: 50%; }
    @media screen and (max-width: 768px) {
      #registration #rsvp-form {
        width: 80%; } }
    #registration #rsvp-form img {
      width: 30px; }
    #registration #rsvp-form .form-group {
      display: flex;
      flex-direction: column;
      align-items: center; }
    #registration #rsvp-form #mainCourseChoices {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
  #registration button {
    text-transform: uppercase;
    background-color: #948030;
    border: 2px solid #948030;
    border-radius: 15px; }

#video {
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #video iframe {
    margin-bottom: 50px; }
  #video img {
    width: 80%; }

h1, h2 {
  margin: 0;
  padding: 0;
  color: #948030; }

.simply-countdown {
  /* The countdown */
  margin-bottom: 2em; }

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 100px;
  height: 100px;
  background: rgba(183, 110, 121, 0.8);
  margin: 0 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite; }
  @media screen and (max-width: 768px) {
    .simply-countdown > .simply-section {
      width: 68px;
      height: 68px; } }
  @media screen and (max-width: 480px) {
    .simply-countdown > .simply-section {
      width: 40px;
      height: 40px; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: white;
  /* amounts and words */ }

.simply-countdown > .simply-section .simply-amount {
  font-size: 30px;
  /* amounts */ }
  @media screen and (max-width: 768px) {
    .simply-countdown > .simply-section .simply-amount {
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    .simply-countdown > .simply-section .simply-amount {
      font-size: 12px; } }

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */ }
  @media screen and (max-width: 768px) {
    .simply-countdown > .simply-section .simply-word {
      font-size: 8px; } }
  @media screen and (max-width: 480px) {
    .simply-countdown > .simply-section .simply-word {
      font-size: 6px; } }

div:after {
  clear: both; }

.container:after {
  clear: both; }

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300; }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #C5AE87; }

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff; }

.scroll-down {
  background: #cdba98;
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s; }

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px; }

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }

/*# sourceMappingURL=style.css.map */
